### Conditional

In [26]:
a = 1
b = 2

a == b

False

In [27]:
a != b

True

In [28]:
a >= b

False

### If Statement

In [29]:
if a == b:
    print("Sama")

In [31]:
if a != b:
    print("Tidak Sama")

Tidak Sama

In [33]:
if a != b:
    print("Sama")
    a = 1
    print("Tidak Sama")

Sama
Tidak Sama

In [35]:
if a != b:
    print("A")
    if a != b:
        print("B")

A
B

In [36]:
### if - else

In [40]:
x = 20

if x > 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [41]:
harga_buku = 2000
harga_majalah = 1000
uang = 1500

if uang > harga_buku:
    print("Buku bisa terbeli")
elif uang > harga_majalah:
    print("Majalah bisa dibeli")
else:
    print("Tidak bisa beli apa-apa")

Majalah bisa dibeli

In [42]:
### 1-5
star_rating = 5

### 5 - Excellent
### 4, 3 ,2 , 1 - Biasa Saja

if star_rating == 5:
    print("Excellent")
elif star_rating == 4:
    print("Typical")
elif star_rating == 3:
    print("Typical")
elif star_rating == 2:
    print("Typical")
elif star_rating == 1:
    print("Typical")

Excellent

In [43]:
if star_rating == 5:
    print("Excellent")
else:
    print("Typical")

Excellent

In [45]:
x = None
y = ""
z = 1

In [46]:
if x == None:
    print("x nya None kak")

x nya None kak

In [48]:
if not x:
    print("x nya None kak")

x nya None kak

In [49]:
if not y:
    print("y nya empty kak")

y nya empty kak

In [51]:
if z:
    print("z nya 1")

z nya 1

### One line if statements

In [57]:
basket = ['fish','meat','noodle']
if 'fishx' in basket: print("Fish is bought");
elif 'meat' in basket: print("Meat is bought");
elif 'noodle' in basket: print("Noodle is bought");

Meat is bought

In [59]:
### Ternary operations
x = 1
"Satu" if x == 2 else "Bukan 1"

'Bukan 1'

In [62]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [63]:
age = 12
s = 'teen' if age < 21 else 'adult'

In [64]:
s

'teen'

In [69]:
"Satu" if x == 2 else "Dua" if x == 2 else "Bukan Satu atau Dua"

'Bukan Satu atau Dua'

### Python pass statement

In [74]:
choice = "Blue"

if choice == "Blue":
    pass
elif choice == "Red":
    print("Pilihannya merah")

### Python Iteration

- Definite: for
- Indefinite: while

 #### Indefinite

In [85]:
x = 10
while x >= 1:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [86]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [87]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [88]:
n = 5
while n > 0:
    n -= 1
    if n % 2 == 0:
        continue
    print(n)

3
1

In [91]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [96]:
try:
    print(1/1)
except:
    print("Division by 0")
finally:
    print("Finally")

1.0
Finally

In [99]:
age = 10
gender = "M"
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

son

In [100]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

#### Definite

In [102]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [103]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [106]:
d = {'foo': 1, 
     'bar': 2, 
     'baz': 3}

for k in d:
    print(k)

foo
bar
baz

In [108]:
for k in d:
    print(k,d[k])

foo 1
bar 2
baz 3

In [109]:
for k in d.values():
    print(k)

1
2
3

In [110]:
for k in d.keys():
    print(k)

foo
bar
baz

In [112]:
for k,v in d.items():
    print(k,v)

foo 1
bar 2
baz 3

In [113]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [124]:

a = [1,2,3,4]
b = ['a','b','c','d']

In [117]:


for index, element in enumerate(b):
    print(index, element, a[index])

0 a 1
1 b 2
2 c 3

In [125]:
for x,y in zip(a,b):
    print(x,y)

1 a
2 b
3 c
4 d

In [126]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [127]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [128]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [129]:
for i in range(3):
    print(i)

0
1
2

In [132]:
star = 5
for i in range(star):
    x=" "*(star-1) + "*"*(i+1)
    print(x)

    *
    **
    ***
    ****
    *****